.heading {
  font-size: 35px;
  text-align: center;
}

.container {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.profile {
  width: 300px;
  border-radius: 20px;
}

.box-bio {
  display: flex;
  width: 70%;
  margin: auto;
  justify-content: space-around;
}

.lists {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 30%;
}

li {
  margin-top: 10px;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  color: gray;
}

.flex {
display: flex;
gap: 10;
width: 100%;
flex-wrap: wrap;
}

.flex-checkbox {
width: 100%;
display: flex;
justify-content: center;
align-items: center;
}

.form {
  display: flex;
  width: 40%;
  margin: auto;
  flex-direction: column;
}

.input {
height: 20px;
border-radius: 5px;
}

.title {
  width: 100%;
text-align: center;
}

.flex-upload {
width: 100%;
justify-content: stretch;
}

.upload-input {
width: 100%;
}